/* Preventing Problems Between Browsers */
* {
    box-sizing: border-box;
}


/* Base Text */
body {
    font-family: "Delius Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

body h1,
body span {
    font-family: "Kablammo", system-ui;
    /*font-optical-sizing: auto;*/
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "MORF" 0;
    margin: 0;
}

/* Header Stuffs */
header {
    background-color: #0f9ed6;
    background-image: linear-gradient(90deg, rgba(15, 158, 214, 1) 0%, rgba(82, 216, 242, 1) 63%, rgba(230, 236, 237, 1) 100%);
    ;
    padding: 1rem 10px;
    display: flex;
}

header span {
    color: #09114d;
    font-size: 2.2rem;
}


/* small screen navigation */
@media only screen and (max-width: 700px) {
    nav ul {
        margin: 0;
        padding: 0;
        font-size: 50px;
    }

    nav a {
        display: block;
        text-align: center;
        padding: .83rem;
        color: #E6ECED;
        background-color: #09114d;
        font-weight: 900;
    }
    nav li.active a {
        background-color: #52D8F2;
        color: #09114d;
    }
}
/* end of small screen navigation */

/* LARGE SCREEN NAVIGATION */
@media only screen and (min-width: 751px) {
    nav {
        background-color: #09114d;
    }

    nav ul {
        margin: 0;
        font-size: 50px;
        padding: 0 8px;
        list-style-type: none;
        display: flex;
    }

    nav a {
        display: block;
        padding: .83rem 1rem;
        text-decoration: none;
        font-size: 1.1rem;
        color: #E6ECED;
        font-weight: 900;
    }

    nav li.active a {
        background-color: #52D8F2;
        color: #09114d;
    }

    nav li a:hover {
        color: #CA3230;
    }
}
/* end of LARGE screen navigation */

/* main stuff here */

main {
    padding: 1rem 10px;
}

main h1 {
    color: #09114d;
}

main h2 {
    color: #52D8F2;
    margin-bottom: .3rem;
}

main p {
    margin: 0;
    color: black;
}

/* The hero image or whatever */
.flag {
    width: 100%;
    height: auto;
}


/* footer stuff here */
footer {
    clear: both;
    background-color: #6fb368;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    font-size: .8rem;
    color: #131316;
    letter-spacing: 3px;
}


/*and just a little pinch of this stuff*/
header, nav, main, footer {
    max-width: 70rem;
    margin: 0 auto;

}